.sidebar {
    background-color: #00171F;
    position: absolute;
    color: #fff;
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .sidebar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
  }
  
  .sidebar-notification {
    position: relative;
    cursor: pointer;
  }
  
  .sidebar-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: #fff;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
  }
  
  .sidebar-wallet {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .sidebar-wallet-amount {
    font-weight: bold;
  }
  
  .sidebar-add-button {
    background-color: #02709c;
    color: #fff;
    border: none;
    border-radius: 20%;
    padding: 5px;
    cursor: pointer;
  }
  
  .sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 1.5rem ;
    margin-bottom: 25rem; 
  }
  
  .sidebar-link {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    text-decoration: none;
    background-color: #1e293b;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.2s ease;
  }
  
  
  .sidebar-link:hover {
    background-color: #02709c;
  }
  
  .sidebar-icon {
    margin-right: 10px;
  }
  
  .sidebar-footer {
    text-align: center;
    margin-top: 4rem; 
}
  
  .sidebar-logo {
    margin-top: -15;
    font-size: 30px;
    font-weight: 500;
  }


  .betsmart-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.logo-image {
    width: 100%;
    max-width: 150px; /* Adjust this size as needed */
    height: auto;
}

.sidebar-logout .sidebar-link {
  margin-top: 10rem; 
}
.sidebar-logout:hover .sidebar-link {
  background-color: #dc2626; /* A bright red color */
  color: #fff;
}

.sidebar-logout .sidebar-link:hover {
  background-color: #b91c1c; /* A slightly darker red on hover */
}





  