/* General Page Styles */
.createWagerBox {
    display: flex;
    flex-direction: column;
    background-color: #00171F;
    border-radius: 20px;
    margin-right: 5vw;
    margin-left: 5vw;
    height: 70vh;
}

.wagerContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.spacer {
    flex: 1;
}

/* Title Section */
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    font-size: x-large;
    border-radius: 20px;
    padding: 0;
    margin-bottom: 15px;
}

.titleText {
    flex: 5;
    display: flex;
    align-items: center;
}

.dollarIcon {
    font-size: 4rem;
    flex: 1;
}

.cancel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1rem;
    margin: 1rem;
    text-decoration: none;
    background-color: #520404;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.2s ease;
    flex : 1;
    max-width: 3rem;
    font-weight: bold;
}

.cancel-button:hover {
    background-color: rgb(123, 48, 48);
}

/* Selects Section */
.wagerSelects {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.categoryLabel {
    font-size: large;
    color: white;
    margin-bottom: 3px;
    text-decoration: underline;
    flex: 1;

}

.custom-select {
    background-color: white;
    border-radius: 10px;
    min-width: 15rem;
    flex: 1;
}
.select-spacer{
    background-color: transparent;
    margin: 15px;
    flex: 1
}

/* Email Section */
.emailList {
    color: white;

}

/* Image Upload Section */

.upload-text {
    color: white;
    text-decoration: underline;
    margin-bottom: 10px;
}
.imageUpload {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.uploadButton {
    width: 24vw;
    padding: 10px;
    font-size: 1.5vh;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

.uploaded-image {
    max-width: 40vw;
    max-height: 40vh;
}



/* Submit Button Section */
.submitButton {
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
}

.buttonAligner {
    display: flex;
    flex-direction: row-reverse;
    margin: 20px;
}

.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1rem;
    text-decoration: none;
    background-color: #214b5a;
    border-radius: 5px;
    font-size: 16px;
    max-width: 10rem;
    transition: background-color 0.2s ease;
    flex: 1;
}
.submit-button:hover {
    background-color: #02709c;
}
